.nav {
	background-color: rgba(0, 0, 0, 0.849);
	backdrop-filter: blur(6px);
	color: #ecb365;
	display: grid;
	grid-template-columns: 1fr 65vw 1fr;
	grid-template-rows: 1fr;
	height: 100%;
}

.topLeft {
	grid-column: 1;
	grid-row: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.links {
	grid-column: 2;
	grid-row: 1;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.logOut {
	grid-column: 3;
	grid-row: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
}

.activeTitle {
	font-weight: 800;
	color: #fcd092;
}

.title {
	position: relative;
	text-decoration: none;
}

.activeTitle,
.title {
	transition: all ease-in-out 0.2s;
}

.title::before {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	border-radius: 0.1em;
	height: 0.15em;
	bottom: -0.15em;
	left: 0;
	background-color: #ecb365;
	transform: scaleX(0);
	transition: transform 0.25s ease;
}

.title:hover::before {
	transform: scaleX(1);
}
.logOutLogo {
	border: solid 1px transparent;
	border-radius: 50%;
	transition: all ease-in-out 0.2s;
}
.logOutLogo:hover {
	color: white;
	box-shadow: 0 0 0.1em 0.02em white;
}
