.nav {
	background-color: rgba(0, 0, 0, 0.849);
	backdrop-filter: blur(1px);
	height: 13vh;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 1em;
	color: #ecb365;
}



a {
	text-decoration: inherit;
	color: inherit;
}
