.form_container {
	margin: 2em 0 0 2em;
	display: grid;
	grid-template-rows: 3em 3em 3em 3em 3em 9em 9em 9em 3em;
	justify-items: start;
}

.validInput {
	color: rgb(90, 221, 90);
}

.name,
.description,
.rating,
.background_image,
.released,
.dropdown {
	display: flex;
	justify-content: flex-start;
	align-self: flex-start;
	align-items: center;
	margin: 0.5em 1em;
	color: white;
	font-weight: 200;
	text-shadow: 0 0 0.2em azure;
}

.name {
	grid-row: 1;
}

.description {
	grid-row: 2;
}

.rating {
	grid-row: 3;
}

.background_image {
	grid-row: 4;
	overflow: hidden;
}

.released {
	grid-row: 5;
}

.dropdown {
	grid-row: 6;
}

.platform {
	grid-row: 7;
	color: white;
	font-weight: 200;
	text-shadow: 0 0 0.2em azure;
}

.screenshots {
	grid-row: 8;
	color: white;
	font-weight: 200;
	text-shadow: 0 0 0.2em azure;
}

.submit {
	width: 100%;
	grid-row: 9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 5em;
}

.alert {
	color: white;
	font-weight: 200;
	text-shadow: 0 0 0.2em azure;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 1em 0;
}

.dropdown,
.platform,
.screenshots {
	display: grid;
	grid-template-rows: 1fr 1fr;
	margin: 0.5em 1em;
}

.displayCreators,
.field {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.field {
	grid-row: 1;
}
.displayCreators {
	grid-row: 2;
	max-height: 100%;
	max-width: 100%;
	overflow: scroll;
}
