.resultsSelector {
	display: flex;
	align-items: center;
	color: #ecb365;
}

.buttons {
	display: flex;
	margin: 0 0.5em;
}

.dropdown {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.body {
	display: flex;
}

.display {
	font-weight: 200;
	color: #ecb365;
	text-shadow: 0 0 0.2em azure;
	display: flex;
	flex-wrap: wrap;
}
