.select {
	display: grid;
	grid-template-columns: auto;
}

.filters {
	display: flex;
	justify-content: center;
	align-content: center;
}
.filter:focus {
	outline: none;
}

.resultsSelector {
	display: flex;
	align-items: center;
	color: #ecb365;
}

.buttons {
	display: flex;
	margin: 0 0.5em;
}

.dropdown {
	display: grid;
	grid-template-rows: 3;
}

.sortSelector {
	display: flex;
}
