.imageContainer {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 8em 9fr 2fr 18em;
	grid-template-columns: 1fr;
}

.title {
	grid-row: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.7em;
	color: white;
	font-weight: 200;
	text-shadow: 0 0 0.2em azure;
}

.image {
	grid-row: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}
